<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style type="text/css">
                table {
                    width: 300px; /* Ширина таблицы */
                    border-collapse: collapse; /* Убираем двойные линии между ячейками */
                }
                td, th {
                    padding: 3px; /* Поля вокруг содержимого таблицы */
                    border: 1px solid black; /* Параметры рамки */
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block links %}
            <a href="{{ path('main') }}"> Главная</a>
            <a href="{{ path('list_ips') }}"> Запросы</a>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
