{% extends 'base.html.twig' %}

{% block body %}
    <table>
        {% for ip in listIps %}
        <tr>
            <td>Ip адрес </td>
            <td><a href="{{ path('ip_info', {ip: ip.query}) }}">{{ ip.query }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}