{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <td>Статус </td>
            <td>{{ info.status }}</td>
        </tr>
        <tr>
            <td>Страна </td>
            <td>{{ info.country }}</td>
        </tr>
        <tr>
            <td>Код страны </td>
            <td><img src="https://www.countryflags.io/{{ info.countryCode }}/flat/48.png"></td>
        </tr>
        <tr>
            <td>Регион </td>
            <td>{{ info.region }}</td>
        </tr>
        <tr>
            <td>Регион </td>
            <td>{{ info.regionName }}</td>
        </tr>
        <tr>
            <td>Город </td>
            <td>{{ info.city }}</td>
        </tr>
        <tr>
            <td>Зип код </td>
            <td>{{ info.zip }}</td>
        </tr>
        <tr>
            <td>Широта </td>
            <td>{{ info.lat }}</td>
        </tr>
        <tr>
            <td>Долгота </td>
            <td>{{ info.lon }}</td>
        </tr>
        <tr>
            <td>Таймзона </td>
            <td>{{ info.timezone }}</td>
        </tr>
        <tr>
            <td>Isp </td>
            <td>{{ info.isp }}</td>
        </tr>
        <tr>
            <td>Org </td>
            <td>{{ info.org }}</td>
        </tr>
        <tr>
            <td>Ip </td>
            <td>{{ info.query }}</td>
        </tr>
    </table>
{% endblock %}